.navbar {
  padding-left: 50px;
  padding-right: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brown{
  background-color: #3a332b;
}
.navbar-brand img {
  max-width: 150px;
}
.navbar ul {
  list-style-type: none;
  display: inherit;
  margin: 0;
  padding: 0;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  font-size: 16pt;
  padding: 0 15px;
}
.navbar a.active {
  color: #00a6b6;
}
