<div>


  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div>Name: <input type="text" [(ngModel)]="name" name="name" required></div>
    Nazwa pojazdu: {{name}}
    <div>Price: <input type="text" [ngModel]="defaultPrice" name="price" required></div>
    <div>Contact email: <input type="text" ngModel name="price" email></div>
    <div>Available:
      <select ngModel name="available">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
    <button type="submit">Zapisz</button>
  </form>

</div>
