p.message {
  border: 1px darkgreen solid;
  background-color: #dcffe2;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

p.message.warning {
  border: 1px darkgreen solid;
  background-color: #ffe0db;
}
